<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: flex;
        }
    </style>
</head>
<body>
    {% extends "calculators/base.html" %}

    {% block content %}
        <h1>연산할 두 숫자를 입력하세요</h1>
        <form action="/result/" method="GET">
            <div class="container">
                <label for="number">첫 번째 숫자 :</label>
                <input type="text" id="num1" name="num1">
                <label for="number">두 번째 숫자 :</label>
                <input type="text" id="num2" name="num2">
                <input type="submit" value="계산">
            </div>
        </form>
    {% endblock content %}
</body>
</html>